<div class="content">
  <div class="sidebar">
    <mat-nav-list>
      <mat-list-item [routerLink]="'/admin/edit-venue'">
         <mat-icon matListItemIcon>house</mat-icon>
         <div matListItemLine>Venue Settings</div>
      </mat-list-item>
      <mat-list-item [routerLink]="'/admin/groups'">
         <mat-icon matListItemIcon>groups</mat-icon>
         <div matListItemLine>Groups</div>
      </mat-list-item>
      <mat-list-item [routerLink]="'/admin/users'">
         <mat-icon matListItemIcon>group</mat-icon>
         <div matListItemLine>Users</div>
      </mat-list-item>
      <mat-list-item [routerLink]="'/admin/cron'">
         <mat-icon matListItemIcon>timer</mat-icon>
         <div matListItemLine>Cron</div>
      </mat-list-item>
    </mat-nav-list>
  </div>
  <div class="maincontent">
    <router-outlet></router-outlet>
  </div>
</div>
