

#edit-user-card {
  margin: 28pt auto 0 auto;
  max-width: 800pt;
}

div.fields {
  margin: 20pt 20pt 0 20pt;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

div.fields mat-form-field {
  align-self: stretch;
}

div.fields div.horz {
  display: flex;
  flex-direction: row;
}

button {
  margin-left: 8pt;
}

div.groups-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

div.groups-container h3 {
  margin: 16pt 0 0 8pt;
}

div.groups-container mat-slide-toggle {
  align-self: stretch;
  margin-top: 8pt;
}
