
<mat-card id="edit-venue-card">
  <mat-card-header>
    <mat-card-title>Edit Venue</mat-card-title>
  </mat-card-header>

  <form [formGroup]="form" (ngSubmit)="onSave()" novalidate>
    <div class="row">
      <div class="images">
        <image-picker class="big-picture" label="Main Picture" [initialImg]="img.imageUrl(init.venue().pictureName)" (picked)="imageUpdated($event)" />
        <div class="row">
          <image-picker class="small-picture" label="ICO" [initialImg]="img.imageUrl(init.venue().icoPictureName, '.ico')" (picked)="icoImageUpdated($event)" />
          <image-picker class="small-picture" label="SVG" [initialImg]="img.imageUrl(init.venue().svgPictureName, '.svg')" (picked)="svgImageUpdated($event)" />
        </div>
      </div>

      <div class="fields">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Short Name</mat-label>
          <input matInput formControlName="shortName" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput formControlName="address" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Shifts Web Address</mat-label>
          <input matInput formControlName="shiftsWebAddress" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Web Address</mat-label>
          <input matInput formControlName="webAddress" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Verification Email Template ID</mat-label>
          <input matInput formControlName="verificationEmailTemplateId" />
        </mat-form-field>
      </div>
    </div>
    <mat-card-actions>
      <div class="spacer"></div>
      <button mat-raised-button color="primary" type="submit"><mat-icon>save</mat-icon> Save</button>
      <button mat-raised-button [routerLink]="'/'"><mat-icon>cancel</mat-icon> Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>
