
#edit-venue-card {
  max-width: 800pt;
}

div.row {
  display: flex;
  flex-direction: row;
}

image-picker {
  flex: 1;
  margin-left: 10pt;
}

div.fields {
  margin: 20pt 20pt 0 20pt;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

div.fields mat-form-field {
  align-self: stretch;
}

div.images {
  display: flex;
  flex-direction: column;
}

div.images image-picker.big-picture {
  width: 400pt;
  flex: 300pt;
  margin-bottom: 10pt;
}

div.images image-picker.small-picture  {
  width: 180pt;
  height: 200pt;
  margin-bottom: 10pt;
}

button {
  margin-left: 8pt;
}

