<h2 mat-dialog-title>{{data.flag?.flagName ?? ""}}</h2>

<form [formGroup]="form" (ngSubmit)="onSave()" novalidate>
  <div class="fields">
    <mat-checkbox formControlName="enabled">Enabled</mat-checkbox>
    <mat-form-field class="full-width">
      <mat-label>Settings</mat-label>
      <textarea matInput formControlName="settings"></textarea>
    </mat-form-field>
  </div>

  <mat-dialog-actions>
    <div class="spacer"></div>
    <button mat-raised-button color="primary" type="submit"><mat-icon>save</mat-icon> SAVE FLAG</button>
    <button mat-button mat-dialog-close>CANCEL</button>
  </mat-dialog-actions>
</form>
