
<mat-card id="edit-user-card">
  <mat-card-header>
    <mat-card-title>Edit User</mat-card-title>
  </mat-card-header>

  <form [formGroup]="form" (ngSubmit)="onSave()" novalidate>
    <div class="fields">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Mail</mat-label>
        <input matInput formControlName="mail" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone" />
      </mat-form-field>
    </div>

    <mat-card-actions>
      <div class="spacer"></div>
      <button mat-button type="submit">SAVE USER</button>
      <button mat-button>CANCEL</button>
    </mat-card-actions>
  </form>
</mat-card>
