
#edit-venue-card {
  margin: 28pt auto 0 auto;
  max-width: 800pt;
}

div.fields {
  margin: 20pt 20pt 0 20pt;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

div.fields mat-form-field {
  align-self: stretch;
}

button {
  margin-left: 8pt;
}

