<mat-toolbar class="header">
  <h1>
    Groups
  </h1>
  <div class="spacer"></div>
  <!--button class="admin-button" mat-raised-button [routerLink]="'/edit-group'"><mat-icon>person_add</mat-icon>Add Group</button-->
</mat-toolbar>
<table mat-table [dataSource]="groups" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Group name</th>
    <td mat-cell *matCellDef="let group">{{group.name}}</td>
  </ng-container>
  <ng-container matColumnDef="required_signups">
    <th mat-header-cell *matHeaderCellDef>Required signups</th>
    <td mat-cell *matCellDef="let group">{{group.minSignups}}</td>
  </ng-container>
  <ng-container matColumnDef="always_show">
    <th mat-header-cell *matHeaderCellDef>Always show</th>
    <td mat-cell *matCellDef="let group">{{group.alwaysShow}}</td>
  </ng-container>
  <ng-container matColumnDef="shift_start_offset">
    <th mat-header-cell *matHeaderCellDef>Shift start offset</th>
    <td mat-cell *matCellDef="let group">{{group.shiftStartOffset}}</td>
  </ng-container>
  <ng-container matColumnDef="shift_end_offset">
    <th mat-header-cell *matHeaderCellDef>Shift end offset</th>
    <td mat-cell *matCellDef="let group">{{group.shiftEndOffset}}</td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
    <td mat-cell *matCellDef="let group" class="actions-column">
      <button mat-icon-button (click)="editGroup(group)"><mat-icon>edit</mat-icon></button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
