<div class="content">
  <mat-toolbar class="header">
    <h1>
      Users
    </h1>
    <div class="spacer"></div>
    <button class="admin-button" mat-raised-button [routerLink]="'/admin/edit-user'"><mat-icon>person_add]</mat-icon>Add User</button>
  </mat-toolbar>
  <table mat-table [dataSource]="users" class="mat-elevation-z8">
    <ng-container matColumnDef="picture">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let user"><img src="{{img.imageUrl(user.pictureName)}}" width="40" /></td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let user">{{user.name}}</td>
    </ng-container>
    <ng-container matColumnDef="mail">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let user">{{user.email}}</td>
    </ng-container>
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let user">{{user.phone}}</td>
    </ng-container>
    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef>Roles</th>
      <td mat-cell *matCellDef="let user">{{(user.roles ?? []).join(', ')}}</td>
    </ng-container>
    <ng-container matColumnDef="groups">
      <th mat-header-cell *matHeaderCellDef>Groups</th>
      <td mat-cell *matCellDef="let user">{{groupsAsString(user.groups ?? [])}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
      <td mat-cell *matCellDef="let user" class="actions-column">
        <button mat-icon-button [routerLink]="'/admin/edit-user/' + user.id"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button [routerLink]="'/admin/edit-user/' + user.id"><mat-icon>delete</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
