div.image-picker {
  margin: 0 10pt;
  height: 300pt;
  border: solid 1px black;
 
  position: relative;
}

div.image-picker button {
  position: absolute;
  right: 10pt;
  bottom: 10pt;
}

// The image starts off hidden.
div.image-picker img {
  display: none;
}

img {
  margin: 0 auto;
}