
.profile-card {
  max-width: 800pt;
  margin: 0 auto;
  margin-bottom: 20pt;
}

div#profile-fields {
  display: flex;
  flex-direction: row;
}

image-picker {
  flex: 1;
  margin-left: 10pt;
}

@media (max-width: 800px) {
  div#profile-fields {
    flex-direction: column;
  }
}

div.fields {
  margin: 20pt 20pt 0 20pt;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

div.fields mat-form-field {
  align-self: stretch;
}

button {
  margin-left: 8pt;
}

.profile-card p {
  margin: 10pt 20pt;
}

table.notifications {
  margin: 10pt 20pt;
  width: 100%;
}

table.notifications th {
  text-align: left;
}

table.notifications tr {
  height: 30pt;
}