<mat-card class="profile-card">
  <mat-card-header>
    <mat-card-title>Profile</mat-card-title>
  </mat-card-header>

  <form [formGroup]="profileForm" (ngSubmit)="onSaveProfile()" novalidate>
    <div class="row">
      <image-picker [initialImg]="img.imageUrl(user.pictureName)" (picked)="imageUpdated($event)" />

      <div class="fields">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Phone number</mat-label>
          <input matInput formControlName="phoneNumber" />
        </mat-form-field>
      </div>
    </div>
    <mat-card-actions>
      <div class="spacer"></div>
      <button mat-raised-button color="primary" type="submit"><mat-icon>save</mat-icon> Save</button>
    </mat-card-actions>
  </form>
</mat-card>

<mat-card class="profile-card">
  <mat-card-header>
    <mat-card-title>Notification Settings</mat-card-title>
  </mat-card-header>

  <form [formGroup]="notificationsForm" (ngSubmit)="onSaveNotifications()" novalidate>
    <p>Below are the notification settings. You can choose to receive a notification via email, SMS or both. Note:
      in order to receive SMS notifications, you must provide your phone number above.</p>
    <div class="row">
      <table class="notifications">
        <tr>
          <th>Notification</th>
          <th>Email</th>
          <th>SMS</th>
        </tr>
        <ng-container formArrayName="notifications">
          <ng-container *ngFor="let notification of notificationsControls; let i = index">
            <tr class="notification-row" [formGroup]="notification">
              <td>{{ allNotifications.get(notification.value.notificationId ?? "") }}</td>
              <td><mat-slide-toggle formControlName="emailEnabled"></mat-slide-toggle></td>
              <td><mat-slide-toggle formControlName="smsEnabled"></mat-slide-toggle></td>
            </tr>
          </ng-container>
        </ng-container>
      </table>
    </div>
    <mat-card-actions>
      <div class="spacer"></div>
      <button mat-raised-button color="primary" type="submit"><mat-icon>save</mat-icon> Save</button>
    </mat-card-actions>
  </form>
</mat-card>