
.profile-card {
  max-width: 800pt;
  margin: 0 auto;
  margin-bottom: 20pt;
}

div.row {
  display: flex;
  flex-direction: row;
}

image-picker {
  margin-left: 10pt;
}

div.fields {
  margin: 20pt 20pt 0 20pt;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

div.fields mat-form-field {
  align-self: stretch;
}

button {
  margin-left: 8pt;
}

