
mat-dialog-content {
    display: flex;
}

img {
    margin-right: 10pt;
}

div.details {
    align-self: flex-end;
}

@media (max-width: 1024px) {
    mat-dialog-content {
        flex-direction: column;
    }
    img {
        margin-right: 0;
        margin-bottom: 10pt;
    }
}
