<div class="content">
  <div class="sidebar">
    <p>TODO: a monthly view</p>
    <p>TODO: filtering options?</p>
    <p>TODO: a link to settings, etc?</p>
    <div class="venue-details">
      <img src="{{img.imageUrl(init.venue().pictureName)}}" width="300" />
    </div>
  </div>
  <div class="maincontent">
    <mat-toolbar class="header">
      <button mat-stroked-button id="today-btn" (click)="onTodayClick()">Today</button>
      <button mat-icon-button (click)="onYesterdayClick()"><mat-icon>chevron_left</mat-icon></button>
      <button mat-icon-button (click)="onTomorrowClick()"><mat-icon>chevron_right</mat-icon></button>
      <h1>
        {{today.toLocaleString('default', { weekday: 'long' })}},
        {{today.toLocaleString('default', { day: '2-digit' })}}
        {{today.toLocaleString('default', { month: 'long' })}}
        {{today.getFullYear()}}
      </h1>
      <div class="spacer"></div>
      <view-switcher [date]="today"></view-switcher>
      <button class="admin-button" mat-raised-button *ngIf="auth.isInRole('EVENT_MANAGER')" (click)="onCreateEvent()"><mat-icon>event</mat-icon>Create Event</button>
      <button class="admin-button" mat-raised-button *ngIf="auth.isInRole('ADMIN')" (click)="onCreateShift()"><mat-icon>event</mat-icon>Create Shift</button>
    </mat-toolbar>
    <div class="container">
      <div class="hours">
        <div class="hour-of-day hour-title"
            *ngFor="let hour of hours">
          {{hourStr(hour)}}
        </div>
      </div>
      <div class="day-canvas">
        <div class="hour-of-day hour-line"
            *ngFor="let hour of hours">
        </div>
        <div class="events-and-shifts">
          <div class="events-and-shifts-col events">
            <div class="event"
                *ngFor="let event of events"
                [ngStyle]="{ top: timeTop(event.startTime, 50), height: timeHeight(event.startTime, event.endTime, 50) }">
                <div class="event-name">{{event.title}}</div>
                <div class="event-time">{{eventTimeStr(event)}}</div>
            </div>
          </div>
          <ng-container *ngFor="let group of groups">
            <div class="events-and-shifts-col shifts shift-{{group.id}}"
                 *ngIf="hasShiftsForGroup(group.id)">
              <div class="shift"
                  *ngFor="let shift of shiftsForGroup(group.id)"
                  [ngStyle]="{ top: timeTop(shift.startTime, 50), height: timeHeight(shift.startTime, shift.endTime, 50) }">
                 {{group.name}}
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
