
div.content {
  display: flex;
  flex-flow: row nowrap;
}

div.sidebar {
  flex-basis: 250pt;
}

div.maincontent {
  flex: 1;
}

div.container {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  align-content: stretch;
  align-items: stretch;
  row-gap: 8pt;
}

#today-btn {
  margin-right: 8pt;
}

h1 {
  padding-left: 8pt;
  display: inline;
  font-size: 20pt;
}

h2 {
  font-size: 12pt;
  font-weight: normal;
  text-align: center;
  height: 22pt;
  margin: 0;
}

h3 {
  font-size: 18pt;
  text-align: center;
  height: 22pt;
  margin: 0;
}

div.hours {
  margin-top: 9pt;
  margin-right: 4pt;
}

.admin-button {
  margin-left: 10pt;
}

.hour-title {
  text-align: right;
  margin-right: 4pt;
  height: 20pt;
  line-height: 20pt;
  margin-bottom: 30pt;
}

.hour-line {
  position: relative;
  border-bottom: dotted 0.5pt #ccc;
  height: 9.5pt;
  margin-bottom: 40pt;
}

div.day-canvas {
  flex: 1;
  position: relative;
  margin-top: 8pt;
}

div.day-of-week div.border {
  border-left: solid 1px black;
}

div.day-canvas div.events-and-shifts {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  display: flex;
  flex-flow: row nowrap;
}

div.day-canvas div.events-and-shifts div.events-and-shifts-col {
  flex: 1;
  position: relative;
}

div.day-canvas div.events-and-shifts div.events-and-shifts-col.events {
  flex: 2;
}

div.day-canvas .event, div.day-canvas .shift {
  position: absolute;
  left: 4pt;
  right: 8pt;
  border-radius: 4pt;
}

div.day-canvas .event {
  border: solid 2pt blue;
  padding: 0 4pt;
  background-color: mix(blue, white, 20%);
}

div.day-canvas .shift {
  border: solid 2pt red;
  padding: 0 4pt;
  background-color: mix(red, white, 20%);
}

div.event-name {
  font-weight: bold;
}

div.shift-name {
  font-weight: bold;
}
