
<mat-card id="edit-shift-card">
  <mat-card-header>
    <mat-card-title>Edit shift (todo: or create?)</mat-card-title>
  </mat-card-header>

  <form [formGroup]="form" (ngSubmit)="onSave()" novalidate>
    <div class="fields">
      <mat-form-field class="full-width">
        <mat-label>Group</mat-label>
        <mat-select formControlName="groupId">
          @for (group of groups; track group.id) {
            <mat-option [value]="group.id">{{ group.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <div class="horz">
        <mat-form-field>
          <mat-label>Shift date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <igx-time-picker formControlName="startTime">
          <label igxLabel>Start time</label>
          <igx-hint>HH:MM tt</igx-hint>
        </igx-time-picker>
        <igx-time-picker formControlName="endTime">
          <label igxLabel>End time</label>
          <igx-hint>HH:MM tt</igx-hint>
        </igx-time-picker>
      </div>
    </div>

    <mat-card-actions>
      <div class="spacer"></div>
      <button mat-button type="submit">SAVE SHIFT</button>
      <button mat-button>CANCEL</button>
    </mat-card-actions>
  </form>
</mat-card>
