<h2 mat-dialog-title *ngIf="!!data.event">Edit {{data.event.title}}</h2>
<h2 mat-dialog-title *ngIf="!data.event">New event</h2>

<form [formGroup]="form" (ngSubmit)="onSave()" novalidate>
  <div class="fields">
    <mat-form-field class="full-width">
      <mat-label>Event name</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Event description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <div class="horz">
      <mat-form-field>
        <mat-label>Event date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Start time</mat-label>
        <time-input formControlName="startTime"></time-input>
        <mat-hint>HH:MM tt</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>End time</mat-label>
        <time-input formControlName="endTime"></time-input>
        <mat-hint>HH:MM tt</mat-hint>
      </mat-form-field>
    </div>
  </div>

  <mat-dialog-actions>
    <button mat-button
            type="submit"
            matTooltip="Save the current event and start a new one without closing the dialog">
      SAVE EVENT & NEW
    </button>
    <div class="spacer"></div>
    <button mat-stroked-button color="warn" *ngIf="!!data.event" (click)="onDelete()" type="button">DELETE EVENT</button>
    <button mat-raised-button color="primary" type="submit">SAVE EVENT</button>
    <button mat-button mat-dialog-close>CANCEL</button>
  </mat-dialog-actions>
</form>
