
div.content {
  display: flex;
  flex-flow: row nowrap;
}

div.sidebar {
  flex-basis: 250pt;
}

div.maincontent {
  flex: 1;
}

div.sidebar h3 {
  margin-top: 16pt;
}

div.group-filter {
  margin-left: 16pt;
}

div.group-filter-entry {
  margin-top: 4pt;
}

#today-btn {
  margin-right: 8pt;
}

h1 {
  padding-left: 8pt;
  display: inline;
  font-size: 20pt;
}

h2 {
  font-size: 12pt;
  font-weight: normal;
  text-align: center;
  height: 22pt;
  margin: 0;
}

h3 {
  font-size: 18pt;
  text-align: center;
  height: 22pt;
  margin: 0;
}

.admin-button {
  margin-left: 10pt;
}

div.container {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  column-gap: 8pt;
}

div.week {
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
}

div.day {
  border: dotted 1px #ccc;
  flex: 1;
  min-height: 150pt;
}

div.day.day-header {
  border: none;
  height: 15pt;
  min-height: unset;
  text-align: center;
  font-weight: bold;
}

div.empty-day {
  border: solid 1px transparent;
}

div.event .title {
  font-weight: bold;
}

div.shift {
  margin-left: 8pt;
}
