<div class="content">
  <div class="sidebar">
    <p>TODO: a monthly view</p>
    <p>TODO: filtering options?</p>
    <p>TODO: a link to settings, etc?</p>
  </div>
  <div class="maincontent">
    <mat-toolbar class="header">
      <button mat-stroked-button id="today-btn" (click)="onTodayClick()">This month</button>
      <button mat-icon-button (click)="onLastMonthClick()"><mat-icon>chevron_left</mat-icon></button>
      <button mat-icon-button (click)="onNextMonthClick()"><mat-icon>chevron_right</mat-icon></button>
      <h1>{{monthStart.toLocaleString('default', { month: 'long' })}} {{monthStart.getFullYear()}}</h1>
      <div class="spacer"></div>
      <view-switcher [date]="monthStart"></view-switcher>
      <button class="admin-button" mat-raised-button *ngIf="auth.isInRole('EVENT_MANAGER')" (click)="onCreateEvent()"><mat-icon>event</mat-icon>Create Event</button>
      <button class="admin-button" mat-raised-button *ngIf="auth.isInRole('ADMIN')" (click)="onCreateShift()"><mat-icon>event</mat-icon>Create Shift</button>
    </mat-toolbar>
    <div class="container">
      <div class="week week-header">
        @for (day of ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT'] ; track day) {
          <div class="day day-header">{{ day }}</div>
        }
      </div>
      @for (weekStart of weeks ; track weekStart) {
        <div class="week">
          @for (day of [weekStart, weekStart+1, weekStart+2, weekStart+3, weekStart+4, weekStart+5, weekStart+6] ; track day) {
            @if (day >= 0 && day <= monthEnd.getDate()) {
              <div class="day">
                <div class="dayNo">{{ day + 1 }}</div>

                <p>{{ findDayInfo(day + 1).date }}</p>
              </div>
            } @else {
              <div class="day empty-day"></div>
            }
          }
        </div>
      }
    </div>
  </div>
</div>
