<mat-toolbar class="header">
  <h1>Schedule</h1>
  <div class="spacer"></div>
  <view-switcher></view-switcher>
  <button class="admin-button" mat-raised-button *ngIf="auth.isInRole('EVENT_MANAGER')" (click)="onCreateEvent()"><mat-icon>event</mat-icon>Create Event</button>
  <button class="admin-button" mat-raised-button *ngIf="auth.isInRole('ADMIN')" (click)="onCreateShift()"><mat-icon>event</mat-icon>Create Shift</button>
</mat-toolbar>
<div class="schedule">
  <div class="schedule-month"
      *ngFor="let month of months">
    <div class="month-row row">
      <div class="month"><h1>{{month.date.toLocaleString('default', { month: 'long' })}}</h1></div>
      <div class="group"
          *ngFor="let group of groups">
        {{group.name}}
      </div>
    </div>
    <div class="schedule-day"
         *ngFor="let day of month.days">
      <div class="row">
        <div class="events">
          <h2>
            {{day.date.toLocaleString('default', { month: 'short' })}}
            {{day.date.toLocaleString('default', { day: '2-digit' })}}
          </h2>
        </div>
        <div class="group"
             *ngFor="let group of groups">
        </div>
      </div>
      <div class="row">
        <div class="events">
          <div class="event"
               *ngFor="let event of day.events">
            <span class="title">{{event.title}}</span>
            {{eventTimeStr(event)}}
          </div>
        </div>
        <div class="group"
             *ngFor="let group of groups">
          <div class="shift"
               *ngFor="let shift of day.shifts.get(group.id)">
            {{shiftTimeStr(shift)}}
            <!-- TODO: only if you're allowed to sign up -->
            <!-- TODO: format nicely -->
            <button mat-icon-button (click)="onShiftSignup(group, shift)" matTooltip="Sign up for this shift">
              <mat-icon>edit_calendar</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
