@import "../theme-colors";

div.schedule-month {
  margin-left: 10pt;
  margin-bottom: 30pt;
}

div.schedule-day {
  margin-bottom: 40pt;
}

span.event-title {
  font-weight: bold;
  margin-right: 10pt;
}
span.event-time {
  margin-right: 20pt;
}
span.event-desc {
  margin-right: 20pt;
}

div.event-day {
  border-top: solid 1px black;
  font-weight: bold;
}

span.group-name { 
  margin-right: 10pt;
}

.month h1 {
  margin: 0;
  padding: 0;
}

div.shift {
  margin-top: 10pt;
  margin-right: 10pt;
}
div.shift span.group-name {
  font-weight: bold;
}
.shift-empty {
  background-color: $bg-shift-empty;
}
.shift-partial {
  background-color: $bg-shift-partial;
}
.shift-full {
  background-color: $bg-shift-filled;
}

.shift-bucket {
  border-top: dotted 1px black;
  margin-top: 10pt;
}
// Don't give the first shift bucket (which is the 3rd child after the date and meeting list) a border.
.shift-bucket:nth-child(3) {
  border-top: solid 0px;
}