@import "../theme-colors";

mat-checkbox.show-all {
  margin-right: 40pt;
}

div.schedule-month h1 {
  font-size: 10pt;
  margin: 0;
  padding: 0 0 0 10pt;
}

div.month-row {
  background-color: #fcfcfc;
  border-bottom: 1px dotted black;
}

div.schedule-day {
  border-bottom: 1px dotted #ccc;
}

div.schedule-day h2 {
  font-size: 10pt;
  margin: 0;
  padding: 0 0 0 16pt;
}

div.event span.title {
  font-weight: bold;
  padding: 0 0 0 22pt;
}
div.event div.desc {
  padding: 0 0 0 28pt;
}

div.row {
  display: flex;
  flex-direction: row;
}

div.month-row div.month {
  flex: 2;
}

div.month-row div.group {
  flex: 1;
  line-height: 32px;
  text-align: center;
}

div.row div.events {
  flex: 2;
}

div.row div.group {
  flex: 1;
  border-left: dashed 1px #ccc;
}

div.shift {
  padding-left: 8pt;
}

div.shift-time {
  display: flex;
  flex-direction: row;
}

div.shift-time span {
  display: block;
  flex: 1;
}

mat-chip-set {
  margin-bottom: 8pt;
}

.shift-empty {
  background-color: $bg-shift-empty;
}
.shift-partial {
  background-color: $bg-shift-partial;
}
.shift-full {
  background-color: $bg-shift-filled;
}
