<mat-toolbar class="header">
  <h1>Schedule</h1>
  <div class="spacer"></div>
  <button class="button" mat-stroked-button (click)="onShowOlder()"><mat-icon>arrow_upward</mat-icon>Older</button>
  <mat-checkbox class="show-all" (change)="onShowAllChanged($event)">Show all groups</mat-checkbox>
  <view-switcher></view-switcher>
  <button class="admin-button" mat-raised-button *ngIf="auth.isInRole('EVENT_MANAGER')" (click)="onCreateEvent()"><mat-icon>event</mat-icon>Create Event</button>
  <button class="admin-button" mat-raised-button *ngIf="auth.isInRole('ADMIN')" (click)="onCreateShift()"><mat-icon>event</mat-icon>Create Shift</button>
</mat-toolbar>
<div class="schedule">
  <div class="schedule-month"
      *ngFor="let month of months">
    <div class="month-row row">
      <div class="month"><h1>{{month.date.toLocaleString('default', { month: 'long' })}}</h1></div>
      <div class="group"
          *ngFor="let group of groups">
        {{group.name}}
        <button mat-icon-button class="icon-small" [matMenuTriggerFor]="groupMenu" matTooltip="More"
                    *ngIf="auth.isInRole('ADMIN')">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #groupMenu="matMenu">
          <button mat-menu-item (click)="onShowMailingList(group)">
            <mat-icon>group</mat-icon>
            <span>Mailing list</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <div class="schedule-day"
         *ngFor="let day of month.days">
      <div class="row">
        <div class="events">
          <h2>
            {{day.date.toLocaleString('default', { weekday: 'short', month: 'short', day: '2-digit' }).toUpperCase()}}
          </h2>
        </div>
        <div class="group"
             *ngFor="let group of groups">
        </div>
      </div>
      <div class="row">
        <div class="events">
          <div class="event"
               *ngFor="let event of day.events">
            <span class="title">{{event.title}}</span>
            {{eventTimeStr(event)}}
            <button mat-icon-button class="icon-small" (click)="onEditEvent(event)" matTooltip="Edit event"
                    *ngIf="auth.isInRole('EVENT_MANAGER')">
              <mat-icon>edit</mat-icon>
            </button>
            <div class="desc" *ngIf="event.description != ''">
              {{event.description}}
            </div>
          </div>
        </div>
        <div class="group"
             *ngFor="let group of groups">
          <div class="shift {{ shiftClass(shift, group) }}"
               *ngFor="let shift of day.shifts.get(group.id)">
            <div class="shift-time">
              <span>{{shiftTimeStr(shift)}}</span>
              <button mat-icon-button class="icon-small" (click)="onEditShift(shift)" matTooltip="Edit shift"
                      *ngIf="auth.isInRole('EVENT_MANAGER') || auth.isInRole('SHIFT_MANAGER')">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
            <mat-chip-set role="list">
              <mat-chip role="listitem" class="shift-signup" (click)="onSignupClick(group, shift, signup)"
                   *ngFor="let signup of shift.signups">
                {{ signup.user.name }}
              </mat-chip>
              <button mat-icon-button (click)="onShiftSignup(group, shift)"
                      matTooltip="Sign up for {{shiftTimeStr(shift)}} shift"
                      *ngIf="isInGroup(group)">
                <mat-icon>edit_calendar</mat-icon>
              </button>
            </mat-chip-set>
            @for (signup of shift.signups ; track signup.user.id) {
              <div class="signup-note" *ngIf="signup.notes != ''">
                <strong>{{ signup.user.name }}:</strong> {{ signup.notes }}
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
