<h2 mat-dialog-title>Shift signup</h2>
<form [formGroup]="form" (ngSubmit)="onSave()" novalidate>
  <mat-dialog-content>
    <p>Sign up for shift <strong>{{ data.group.name }}</strong>
      on <strong>{{ shiftDateStr(data.shift) }}</strong>
      from <strong>{{ shiftTimeStr(data.shift) }}</strong>?</p>
    <div class="fields">
      <mat-form-field>
        <mat-label>User</mat-label>
        <input matInput formControlName="userId" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let user of eligibleUsers | async" [value]="user.name">
            {{user.name}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="form.controls.userId.invalid">User is not eligible</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Notes</mat-label>
        <input matInput formControlName="notes">
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="spacer"></div>
    <button mat-stroked-button color="warn" *ngIf="!!data.signup" (click)="onDelete()" type="button">REMOVE SIGNUP</button>
    <button mat-raised-button color="primary" cdkFocusInitial>
      @if (!!data.signup) { SAVE } @else { SIGN UP }
    </button>
    <button mat-button (click)="onCancelClick()" type="button">CANCEL</button>
  </mat-dialog-actions>
</form>
