@import '@angular/material/theming';

div.content {
  display: flex;
  flex-flow: row nowrap;
}

div.sidebar {
  flex-basis: 250pt;
}

div.maincontent {
  flex: 1;
}

div.container {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  align-content: stretch;
  align-items: stretch;
  row-gap: 8pt;
}

#today-btn {
  margin-right: 8pt;
}

h1 {
  padding-left: 8pt;
  display: inline;
  font-size: 20pt;
}

h2 {
  font-size: 12pt;
  font-weight: normal;
  text-align: center;
  height: 22pt;
  margin: 0;
}

h3 {
  font-size: 18pt;
  text-align: center;
  height: 22pt;
  margin: 0;
}

div.hours {
  margin-top: 52pt;
}

.hour-title {
  text-align: right;
  margin-right: 4pt;
  height: 20pt;
  line-height: 20pt;
  margin-bottom: 30pt;
}

div.events {
  position: relative;
}

.hour-line {
  position: relative;
  border-bottom: dotted 0.5pt #ccc;
  height: 9.5pt;
  margin-bottom: 40pt;
}

div.container div.day-of-week {
  flex: 1;
}

div.day-of-week div.events {
  margin-top: 8pt;
}

div.day-of-week div.border {
  border-left: solid 1px black;
}

div.events .event {
  position: absolute;
  left: 4pt;
  right: 8pt;
  border-radius: 4pt;
  border: solid 2pt blue;
  padding: 0 4pt;
  background-color: mix(blue, white, 20%);
}

div.event-name {
  font-weight: bold;;
}