
div.dashboard {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  // The dashboard should fill the viewport height minus the header.
  height: calc(100vh - 64px);
}

div.left-panel {
  position: relative;
  width: 70%;
  min-height: 100%;
}

div.motd {
  display: flex;
  flex-direction: column;
}

/* Fade utility for motd/map */
div.left-panel .fade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.8s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

div.left-panel .fade.visible {
  opacity: 1;
  pointer-events: auto;
}

div.left-panel .map img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

div.motd h2 {
  font-size: 128pt;
  font-weight: bold;
  margin: 100pt 200pt 0 200pt;
  color: #333;
}

// Because this is inside a div that we dynmaically add via DOM manipulation, we need to use
// ::ng-deep to target it.
::ng-deep .motd-msg p {
  margin: 24pt 0;
  padding: 0;
}

::ng-deep .motd-msg p.from {
  font-size: 75%;
}


div.motd .motd-date {
  margin: 0 200pt 20pt 200pt;
  font-size: 80pt;
  color: #666;
}

div.motd .motd-msg {
  margin: 0 200pt 200pt 200pt;
  flex: 1;
  font-size: 36pt;
  line-height: 1.5;
  color: #444;
}

div.todays-events {
  margin: 40pt 0;
}

div.todays-events div.event {
    font-size: 58pt;
}

div.upcoming-events {
  width: 30%;
}

div.upcoming-events h1 {
  margin: 0;
  padding: 10pt;
  background-color: rgb(103, 58, 183);
  color: white;
  font-size: 24pt;
}

div.dashboard-month {
  margin-top: 40pt;
}

div.month h2 {
  margin: 0;
  padding: 0;
  color: #444;
  font-weight: bold;
  font-size: 40pt;
  border-bottom: 1px solid #444;
}

div.dashboard-day {
  display: flex;
  flex-direction: row;
  margin-top: 20pt;
}

div.dashboard-day div.event-day {
  display: flex;
  flex-direction: column;
  border: solid 2pt #ccc;
  border-radius: 8pt;;
  padding: 10pt;
  align-items: center;
  width: 60pt;
  font-size: 24pt;
  color: #666;
}

div.dashboard-day div.weekday {
  font-weight: bold;
}

div.dashboard-day div.day {
  font-size:48pt;
}

div.event {
  margin-left: 20pt;
  margin-bottom: 8pt;
  font-size: 24pt;
  color: #666;
}

div.event-title {
  font-weight: bold;
}
