
div.dashboard {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: calc(100vh);
}

div.left-panel {
  position: relative;
  width: 25%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

div.clock {
  font-size: 128pt;
  font-weight: bold;
  text-align: center;
  margin-top: 64pt;
  color: #333;
}

div.middle-panel {
  position: relative;
  width: 50%;
  min-height: 100%;
}

div.motd {
  flex: 1;
  display: flex;
  flex-direction: column;
}

div.middle-panel .map img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  margin: 10%;
}

div.motd h2 {
  font-size: 64pt;
  font-weight: bold;
  margin: 100pt 50pt 0 50pt;
  color: #333;
}

// Because this is inside a div that we dynmaically add via DOM manipulation, we need to use
// ::ng-deep to target it.
::ng-deep .motd-msg p {
  margin: 24pt 0;
  padding: 0;
}

::ng-deep .motd-msg p.from {
  font-size: 75%;
}

div.motd .motd-date {
  margin: 0 50pt 20pt 50pt;
  font-size: 80pt;
  color: #666;
}

div.motd .motd-msg {
  margin: 0 50pt 200pt 50pt;
  flex: 1;
  font-size: 36pt;
  line-height: 1.5;
  color: #444;
}

div.todays-events {
  margin: 40pt 0;
}

div.todays-events div.event {
    font-size: 58pt;
}

div.right-panel {
  width: 25%;
}

div.right-panel h1 {
  margin: 0;
  padding: 10pt;
  background-color: #666;
  color: white;
  font-size: 48pt;
}

div.dashboard-month {
  margin-top: 40pt;
}

div.month h2 {
  margin: 0;
  padding: 0;
  color: #444;
  font-weight: bold;
  font-size: 60pt;
  border-bottom: 1px solid #444;
}

div.dashboard-day {
  display: flex;
  flex-direction: row;
  margin-top: 20pt;
}

div.dashboard-day div.event-day {
  display: flex;
  flex-direction: column;
  border: solid 2pt #ccc;
  border-radius: 8pt;;
  padding: 10pt;
  align-items: center;
  width: 90pt;
  font-size: 48pt;
  color: #666;
}

div.dashboard-day div.weekday {
  font-weight: bold;
}

div.dashboard-day div.day {
  font-size: 64pt;
}

div.event {
  margin-left: 20pt;
  margin-bottom: 8pt;
  margin-top: 20pt;
  font-size: 48pt;
  color: #666;
}

div.event-title {
  font-weight: bold;
}
