<div class="dashboard">
  <div class="motd">
    <h2>Towards 2030</h2>
    <div class="motd-date" *ngIf="motd != null">{{ motdDateStr(motd) }}</div>
    <div class="motd-msg" [innerHTML]="motd?.messageHtml"></div>
  </div>
  <div class="upcoming-events">
    <h1 *ngIf="todaysEvents.length > 0">Today's Events</h1>
    <div class="todays-events" *ngIf="todaysEvents.length > 0">
      <div class="event"
          *ngFor="let event of todaysEvents">
        <div class="event-time">{{eventTimeStr(event)}}</div>
        <div class="event-title">{{event.title}}</div>
        <div class="event-desc">{{event.description}}</div>
      </div>
    </div>
    <h1>Upcoming Meetings</h1>
    <div class="dashboard-month"
        *ngFor="let month of months">
      <div class="month"><h2>{{month.date.toLocaleString('default', { month: 'long' })}}</h2></div>
      <div class="dashboard-day"
          *ngFor="let day of month.days">
        <div class="event-day">
          <div class="weekday">{{day.date.toLocaleString('default', { weekday: 'short' })}}</div>
          <div class="day">{{day.date.toLocaleString('default', { day: '2-digit' })}}</div>
        </div>
        <div class="events">
          <div *ngFor="let event of day.events" class="event">
            <div class="event-time">{{eventTimeStr(event)}}</div>
            <div class="event-title">{{event.title}}</div>
            <div class="event-desc">{{event.description}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>