.confirm-card {
  width: 400pt;
  max-width: 400pt;
  margin: 28pt auto 0 auto;
}

@media (max-width: 400pt) {
  .confirm-card {
    width: 100%;
    max-width: 100%;
  }
}

mat-form-field {
  width: 100%;
}