
<mat-toolbar class="header" color="primary">
  <img height="40" alt="Logo" src="/assets/img/logo.svg" />
  <a [routerLink]="'/'">Scheduler &bull; {{venue.name}}</a>
  <div class="spacer"></div>
  <button mat-button [matMenuTriggerFor]="usermenu" *ngIf="user">
    {{user.name}} <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #usermenu="matMenu">
  <button mat-menu-item [routerLink]="'/admin/edit-venue'" *ngIf="auth.isInRole('ADMIN')">
    <mat-icon>settings</mat-icon> Settings
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon> Logout
  </button>
</mat-menu>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>

