
// Uncomment the following lines if you want to add a custom palette:
// $primary: #731963 !default;
// $secondary: #ce5712 !default;
// $app-palette: palette($primary, $secondary, $surface);

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* autoprefixer grid: on */


body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.material-symbols-outlined {
  font-variation-settings: 'fill' 0, 'wght' 400, 'grad' 0, 'opsz' 24
}

.icon-small {
  width: 24px !important;
  height: 24px !important;
  padding: 0px !important;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;

  & > *[role=img] {
     width: 16px;
     height: 16px;
     font-size: 16px;

     svg {
        width: 16px;
        height: 16px;
     }
  }

  .mat-mdc-button-touch-target {
     width: 24px !important;
     height: 24px !important;
  }
}

.error {
  color: red;
  display: flex;
}

.error mat-icon {
  margin-right: 4pt;
}

@media (max-width: 1024px) {
  mat-dialog-actions {
    flex-direction: column;
    align-items: end !important;
    row-gap: 4pt;
  }
}
