
// Uncomment the following lines if you want to add a custom palette:
// $primary: #731963 !default;
// $secondary: #ce5712 !default;
// $app-palette: palette($primary, $secondary, $surface);

@use "@angular/material" as mat;

/* autoprefixer grid: on */

@include mat.core();


body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.material-symbols-outlined {
  font-variation-settings: 'fill' 0, 'wght' 400, 'grad' 0, 'opsz' 24
}

